body {
    background-color: #0f0f0f;
    background-image: url('./1755519803188(1).png');
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-size: 12vw;
    color: #fff;
}

.card {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    color: #007bff;
}

input[type="text"] {
    font-weight: bold;
    color: #333;
}

.texto-centralizado {
    text-align: center;
}

.texto-customizado {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
